/* ==========================================================================
	0. FONTS
   ========================================================================== */

/************* Common *************/
@font-face {
	font-family: 'RixBalgeunGothic';
	src: url(./../res/font/Rix밝은고딕M.ttf) format('truetype');
}

.font-rixm {
	font-family: 'RixBalgeunGothic';
}

.font-nanum {
	font-family: 'NANUMBARUNGOTHIC';
	src: url(./../res/font/NANUMBARUNGOTHIC.TTF) format('truetype');
}

/* ==========================================================================
	1. SITE SIZING
   ========================================================================== */

html, body {
	height: 100%;
	margin: 0;
}

/* ==========================================================================
	2. CONTENTS
   ========================================================================== */

.overlay {
  /*display: none;*/
  z-index: 1000;
  position: fixed;
  width: 100%; height: 100%;
  left: 0; top: 0;
  background-color: rgba(0,0,0, 0.55);
  overflow-x: hidden;
}

#site-wrapper {
	width: 100%;
	height: 100%;
	background-image: url('http://edu.다솜.com/res/bg/1.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: fixed;
}

.site-main {
	top: 5%;
	width: 70%;
	min-width: 400px;
	max-width: 550px;
	margin: 0 auto;

	box-sizing: border-box;
	position: relative;
	display: flex;
	justify-content: center;

	background-color: #fefefe;
    border: 2px solid #DCDCDD;
    border-radius: 12px;
}

#form1 {
	width: 80%;
	justify-content: center;
	text-align: center;
}

.input-box {
	/*width: 80%;
	font-size: 21px;
	border: none;
	background: none;*/
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.1em;
}